[Desktop Entry]
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=apdfllckaahabafndbhieahigkjlhalf
Icon=chrome-apdfllckaahabafndbhieahigkjlhalf-Default
Name=Google Drive
NoDisplay=false
StartupWMClass=crx_apdfllckaahabafndbhieahigkjlhalf
Terminal=false
Type=Application
Version=1.0
