[Desktop Entry]
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pjkljhegncpnkpknbcohdijeoejaedia
Icon=chrome-pjkljhegncpnkpknbcohdijeoejaedia-Default
Name=Gmail
NoDisplay=false
StartupWMClass=crx_pjkljhegncpnkpknbcohdijeoejaedia
Terminal=false
Type=Application
Version=1.0
